/* ==========================================================================
   github-wiki-search
   ========================================================================== */

// @import Normalize before all other LESS/CSS
@import (less) "../../vendor/normalize-css/normalize.css";

// @import combined CF component LESS
@import (less) "../../vendor/cf-concat/cf.less";
@cf-icon-path: "/static/fonts/";
@grid_box-sizing-polyfill-path: "/static/vendor/box-sizing-polyfill";


/* Base styles
   ========================================================================== */

body {
    padding: 0;
    margin: 0;
}


/* Page Wrapper
   ========================================================================== */

.page-wrapper {
    .grid_wrapper();
}


/* Page Header
   ========================================================================== */

.page-header {
    padding: 1em 0;
    border-bottom: 4px solid @green;
}

.page-header_logo {
    display: block;
}

.page-header_heading {
    .h2;
    display: inline-block;
    margin: 1em 0 0;
    color: @darkgray;

    a {
        color: @darkgray;
    }

    b {
        .webfont-medium();
    }
}


/* Page Body
   ========================================================================== */

.page-body {
    padding: 1.5em 0;
}

@media only screen and (min-width: 48em) {
    .page-header_logo {
        margin: 1em 0;
        float: right;
    }
}


/* Mega Search Bar
   ========================================================================== */

.mega-search-bar {
    position: relative;
}

.mega-search-bar_label {
    display: none;
}

.mega-search-bar_query[type="text"] {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding-right: 1.5em;
    .webfont-regular();
    font-size: unit( 32px / @base-font-size-px, em );
}

.mega-search-bar_icon {
    display: block;
    padding: unit( 5 / @base-font-size-px, em );
    position: absolute;
    top: 0;
    right: 0;
    font-size: unit( 32px / @base-font-size-px, em );
    color: @gray-20;
}


/* Results
   ========================================================================== */

.results-text() {
    font-size: unit( 16px / @base-font-size-px, em );
    .webfont-medium;
}

.results {
    display: none;
}

.results_list {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        border-bottom: 1px solid @gray-20;
    }
}

.results_item {
    display: block;
    margin: 0;
    padding: 1em 0 1em unit( 50px / @base-font-size-px, em );
    border: 0;
    position: relative;
    .results-text();
    list-style-type: none;

    &:focus,
    &:hover {
        border: 0;
        outline: none;
        background: @gray-5;
    }

    mark {
        background: @gold-80;
    }
}

.results_item_icon {
    position: absolute;
    padding: unit( 4px / @base-font-size-px, em );
    left: 0;
    font-size: unit( 30px / @base-font-size-px, em );
    color: @gray-20;
}

.results_item_repo {
    display: block;
    color: @darkgray;
    .webfont-medium();
}

.results_item_title,
.results_item_highlight {
    font-size: unit( 14px / @base-font-size-px, em );
    color: @gray;
}

.results_item_title {
    margin-top: unit( 4px / @base-font-size-px, em );
    .webfont-medium();
}

.results_item_highlight {
    .webfont-italic();
}

.results_search-more {
    .results-text();
    display: block;
    padding: 1em 0;
}

